<h1>Login page</h1>

<form action="/login" method="POST">
    <div>
    <label for="email" >Email</label>
    <input type = "email" name="email" id="email" required>
        <br>
    <label for="password">password</label>
    <input type = "password" name="password" id="password" required>
        <br>
    </div>
    <br>
    <button type="submit">Login</button>
    <br>
    <a href="/signup">Signup</a>
</form>